/* BASE STYLE */
html {
    box-sizing: border-box; 
}

*, *:before, *:after {
    box-sizing: inherit; 
}

body {
    background: #8A6900 url(../img/body-pattern.png) repeat center 0;
}

#container {
    font-family: Arial, sans-serif; 
    font-size: 16px; 
}

img {
    max-width: 100%; 
}

/* HEADER */

#container header {
    margin-top: 3%; 
    margin-right: 3%; 
    margin-left: 3%; 
    margin-bottom: 5%; 
}
.main-header {
    background-color: white;
    border: 1px solid black; 
    border-radius: 5%; 
    
}

header h1 {
    text-transform: uppercase; 
    font-size: 1.5em; 
    font-weight: bold; 
    margin: 1em; 
    text-align: center; 
    
}